@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Weather Conditions with Gradient Backgrounds */

/* Clear Day - a light to deep blue gradient */
.bg-clear-day {
  background-image: linear-gradient(to bottom right, #a8dadc, var(--color-primary));
}

/* Clear Night - a gradient to mimic the night sky */
.bg-clear-night {
  background-image: linear-gradient(to bottom right, #1a2a33, #000000);
}

/* Rainy Day - a gradient to represent the rainy ambiance */
.bg-rain-day {
  background-image: linear-gradient(to bottom right, #7f8c8d, var(--color-info));
}

/* Rainy Night - a dark gradient for night rain */
.bg-rain-night {
  background-image: linear-gradient(to bottom right, #34495e, #2c3e50);
}

/* Cloudy Day - a gradient for overcast conditions */
.bg-clouds-day {
  background-image: linear-gradient(to bottom right, var(--color-secondary), #bdc3c7);
}

/* Cloudy Night - a darker gradient for cloudy nights */
.bg-clouds-night {
  background-image: linear-gradient(to bottom right, #34495e, #283747);
}

/* Snow - a soft white gradient to mimic snow conditions */
.bg-snow-day,
.bg-snow-night {
  background-image: linear-gradient(to bottom right, var(--color-background), #ecf0f1);
}

/* Thunderstorm - a dark and intense gradient */
.bg-thunderstorm-day,
.bg-thunderstorm-night {
  background-image: linear-gradient(to bottom right, #4a4a4a, #2c3e50);
}

/* Drizzle - a softer gradient for light rain */
.bg-drizzle-day {
  background-image: linear-gradient(to bottom right, var(--color-accent), #f4a261);
}

.bg-drizzle-night {
  background-image: linear-gradient(to bottom right, #5d5c61, #1a2a33);
}

/* Misty Conditions - a light gradient for mist or fog */
.bg-mist-day,
.bg-mist-night {
  background-image: linear-gradient(to bottom right, var(--color-surface), #dde1e3);
}

/* Default background if no specific condition is matched */
.bg-default-day {
  background-image: var(--color-background); /* Typically no gradient for default */
}

.bg-default-night {
  background-image: linear-gradient(to bottom right, #2c3e50, #000000);
}

/* Ensure that transitions between background images are smooth */
.transition-all {
  transition: background-image 0.3s ease-in-out;
}

.dot {
  transition: transform 0.3s ease-in-out;
}
#toggleC:checked ~ .dot {
  transform: translateX(1.5rem);
}

.fas.fa-bars {
  font-size: 1.5em; /* Adjust size as needed */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
